<!-- sidebar social links begin here -->
<section class="social-links">
	<h1>Let's Connect</h1>
	<a rel="me" class="google-plus-link" href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" target="_blank" title="Google+"><i class="icon-google-plus-sign icon-2x" style="color:#C63D2D;"></i></a>&nbsp;
	<a rel="me" href="http://twitter.com/rickcogley" target="_blank" title="Twitter"><i class="icon-twitter icon-2x" style="color:#33CCFF;"></i></a>&nbsp;
	<a rel="me" href="https://alpha.app.net/rickcogley" target="_blank" title="App.net"><i class="icon-adn icon-2x" style="color:#DD7500;"></i></a>&nbsp;	
	<a rel="me" href="http://www.flickr.com/photos/rickcogley/" target="_blank" title="Flickr"><i class="icon-flickr icon-2x" style="color:#FE0883;"></i></a>&nbsp;
	<a rel="me" href="http://500px.com/rickcogley" target="_blank" title="500px"><i class="icon-camera-retro icon-2x" style="color:green;"></i></a>&nbsp;
	<a rel="me" href="http://www.linkedin.com/in/rickcogley" target="_blank" title="LinkedIn"><i class="icon-linkedin-sign icon-2x" style="color:#4875B4;"></i></a>&nbsp;
	<a rel="me" href="https://pinboard.in/u:rickcogley" target="_blank" title="Pinboard"><i class="icon-pushpin icon-2x" style="color:indigo;"></i></a>&nbsp;
	<a rel="me" href="http://licorize.com/users/rickcogley" target="_blank" title="Licorize"><i class="icon-bookmark icon-2x" style="color:cyan;"></i></a>&nbsp;
	<a rel="me" href="http://pinterest.com/rickcogley/" target="_blank" title="Pinterest"><i class="icon-pinterest icon-2x" style="color:#910101;"></i></a>&nbsp;
	<a rel="me" href="https://www.facebook.com/rickcogley" target="_blank" title="Facebook"><i class="icon-facebook-sign icon-2x" style="color:#3b5998;"></i></a>&nbsp;
	<a rel="me" href="http://www.youtube.com/user/rickcogley" target="_blank" title="Youtube"><i class="icon-facetime-video icon-2x" style="color:#c4302b;"></i></a>&nbsp;
	<a rel="me" href="https://vimeo.com/rickcogley" target="_blank" title="Vimeo"><i class="icon-heart icon-2x" style="color:#86B32D;"></i></a>&nbsp;
<br />
<br />
<p><span><strong>Subscribe</strong> to receive &quot;Rick Cogley Central&quot; broadcast updates (<a href="/resources/rick-cogley-broadcast-updates/">more info</a>):</span><br><a href='https://app.net/c/2d2r?' class='adn-button' target='_blank' data-type='email_subscribe' data-width='250' data-height='100' data-size='11' data-channel-id='39641' >Subscribe on App.net</a></p>
<script>(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='//d2zh9g63fcvyrq.cloudfront.net/adn.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'adn-button-js'));</script>
<br />
</section> 


