<!-- sidebar social links begin here -->
<section>
  <h1>Let's Connect</h1>
	<ul class="socicon left">
		<li style="opacity: 0.5; color: red;"> <a href="https://pinboard.in/u:rickcogley" target="_blank" class="share-icon"></a> </li>
		<li style="opacity: 0.5;"> <a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" target="_blank" class="google"></a> </li>
		<li style="opacity: 0.5;"> <a href="https://www.facebook.com/rickcogley" target="_blank" class="facebook"></a> </li>
		<li style="opacity: 0.5;"> <a href="http://twitter.com/rickcogley" target="_blank" class="twitter"></a> </li>
		<li style="opacity: 0.5;"> <a href="http://www.flickr.com/photos/rickcogley/" target="_blank" class="flickr"></a> </li>
		<li style="opacity: 0.5;"> <a href="http://www.linkedin.com/in/rickcogley" target="_blank" class="linkedin"></a> </li>
		<li class="last" style="opacity: 0.5;"> <a href="https://vimeo.com/rickcogley" target="_blank" class="vimeo"></a> </li>
		<li class="last" style="opacity: 0.5;"> <a href="http://www.youtube.com/user/rickcogley" target="_blank" class="youtube"></a> </li>
	</ul>
<br />
<a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" target="_blank"><i class="icon-google-plus" style="color:red;"></i></a>
<a href="http://twitter.com/rickcogley" target="_blank"><i class="icon-twitter" style="color:orange;"></i></a>
<a href="http://www.flickr.com/photos/rickcogley/" target="_blank"><i class="icon-camera-retro" style="color:yellow;"></i></a>
<a href="http://rickcogley.dphoto.com" target="_blank"><i class="icon-th" style="color:green;"></i></a>
<a href="http://www.linkedin.com/in/rickcogley" target="_blank"><i class="icon-linkedin-sign" style="color:blue;"></i></a>
<a href="https://pinboard.in/u:rickcogley" target="_blank"><i class="icon-pushpin" style="color:indigo;"></i></a>
<a href="https://www.facebook.com/rickcogley" target="_blank"><i class="icon-facebook-sign" style="color:violet;"></i></a>
<a href="http://www.youtube.com/user/rickcogley" target="_blank"><i class="icon-facetime-video" style="color:cyan;"></i></a>
<br />
</section> 

