<!-- sidebar social links begin here -->
<section>
  <h1>Let's Connect</h1>
	<a href="https://plus.google.com/{{ site.googleplus_user }}?rel=author" target="_blank" title="Google+"><i class="icon-google-plus-sign icon-large" style="color:red;"></i></a>
	<a href="http://twitter.com/rickcogley" target="_blank"><i class="icon-twitter icon-large" style="color:#00a0d1;"></i></a>
	<a href="http://www.flickr.com/photos/rickcogley/" target="_blank"><i class="icon-camera-retro icon-large" style="color:magenta;"></i></a>
	<a href="http://rickcogley.dphoto.com" target="_blank"><i class="icon-th icon-large" style="color:green;"></i></a>
	<a href="http://www.linkedin.com/in/rickcogley" target="_blank"><i class="icon-linkedin-sign icon-large" style="color:blue;"></i></a>
	<a href="https://pinboard.in/u:rickcogley" target="_blank"><i class="icon-pushpin icon-large" style="color:indigo;"></i></a>
	<a href="http://licorize.com/users/rickcogley" target="_blank"><i class="icon-FUCK icon-large" style="color:grey;"></i></a>
	<a href="http://pinterest.com/rickcogley/" target="_blank"><i class="icon-pinterest icon-large" style="color:#910101;"></i></a>
	<a href="https://www.facebook.com/rickcogley" target="_blank"><i class="icon-facebook-sign icon-large" style="color:#3b5998;"></i></a>
	<a href="http://www.youtube.com/user/rickcogley" target="_blank"><i class="icon-facetime-video icon-large" style="color:#c4302b;"></i></a>
	<a href="https://vimeo.com/rickcogley" target="_blank"><i class="icon-heart icon-large" style="color:#44bbff;"></i></a>
<br />
</section> 





