<!-- sidebar single blog post tabs begin here -->

<ul class="nav nav-tabs">
  <li class="active"><a href="#tab-related" data-toggle="tab">Related</a></li>
  <li><a href="#tab-tags" data-toggle="tab">Tags</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="tab-related">
  	{% if page.related_posts %}
	<ul id="related_posts">
		{% for post in page.related_posts %}
			<li><a href="/articles/{{ post.url }}">{{ post.title }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
  </div>
  <div class="tab-pane" id="tab-tags">
	<ul class="tags_cloud">
		{% for categ in page.tags %}
			<li><a href="/tags/{{ categ | to_url }}"> {{ categ }}</a>{% unless forloop.last %},{% endunless%}</li>
		{% endfor %}
	</ul>
  </div>
</div>
