@import "custom/fonts";

.sans { font-family: $sans; }
body { font-family: $serif; }
.mono { font-family: $mono; }

aside.sidebar li{
   font-family: "freight-text-pro-n3", "freight-text-pro", sans-serif;
}

#searchbar, #sidebar, #main-menu{
	display:none;
}

img.right{
	margin-left: 15px;
	margin-right: 100px;
}
.span9 {
	width: 870px;
}
[class*="span"] {
	float: left;
	margin-left: 30px;
}

.row {
	margin-left: -30px;
}
.row::before, .row::after {
	display: table;
	content: "";
}
.row::after {
	clear: both;
}


.container {
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}
.right{ float: right; }

.center-content{ text-align: center; }

.post-info ul{
	list-style: none;
}
.no-print{ display: none; }

.content ol {
font-size: 17px;
}

li {
line-height: 17px;
}

.entry-content ul, .entry-content ol {
	font-size: 17px;
}

.a-post ul {
	list-style: disc !important;
	list-style-type: disc;
}

.post-info .blog-meta{
	margin: 0;
	time{
		h3, p{ display: inline-block; margin: 0 0 0 20px; }
	}
}

.header {
	h1{
		font-family: "adelle",sans-serif;
    	font-size: 2.2em;
    	margin-bottom: 5px;
	}
	h2{
		margin-top: 0;
		font-size: 1em;
    	font-style: italic; 
	}
}