#searchbar, #sidebar, #main-menu{
	display:none;
}

img.right{
	margin-left: 15px;
	margin-right: 100px;
}
.span9 {
	width: 870px;
}
[class*="span"] {
	float: left;
	margin-left: 30px;
}

.row {
	margin-left: -30px;
}
.row::before, .row::after {
	display: table;
	content: "";
}
.row::after {
	clear: both;
}


.container {
	margin-right: auto;
	margin-left: auto;
	width: 1170px;
}
.right{ float: right; }

.center-content{ text-align: center; }

.post-info ul{
	list-style: none;
}
.no-print{ display: none; }