{% if site.pinboard_user %}

<section>
  <h1>My Pinboard</h1>
  <ul id="pinboard_linkroll">Fetching linkroll...</ul>
  <p><a href="http://pinboard.in/u:{{ site.pinboard_user }}">My Pinboard Bookmarks &raquo;</a></p>
</section>
<script type="text/javascript">
  var linkroll = 'pinboard_linkroll'; //id target for pinboard list
  var pinboard_user = "{{ site.pinboard_user }}"; //id target for pinboard list
  var pinboard_count = {{ site.pinboard_count }}; //id target for pinboard list
  (function(){
    var pinboardInit = document.createElement('script');
    pinboardInit.type = 'text/javascript';
    pinboardInit.async = true;
    pinboardInit.src = '{{ root_url }}/javascripts/pinboard.js';
    document.getElementsByTagName('head')[0].appendChild(pinboardInit);
  })();
</script>
{% endif %}


{% if site.pinboard_user %}
<div class="accordion" id="pinboard-accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#pinboard-accordion" href="#folder1">
        Blogroll
      </a>
    </div>
    <div id="folder1" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <ul style="margin-left:0;">
        <li><img src="assets/img/blog-examples/blog-home-c2.jpg" alt="" class="imageLeft" width="70" height="50"><p><a href="#">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid ...</a></p></li>
        <li><img src="assets/img/blog-examples/blog-home-c3.jpg" alt="" class="imageLeft" width="70" height="50"><p><a href="#">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid ...</a></p></li>
        <li><img src="assets/img/blog-examples/blog-home-c2.jpg" alt="" class="imageLeft" width="70" height="50"><p><a href="#">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid ...</a></p></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#pinboard-accordion" href="#folder2">
        Recent post
      </a>
    </div>
    <div id="folder2" class="accordion-body collapse" style="height: 0px;">
      <div class="accordion-inner">
        <ul style="margin-left:0;">
        <li><img src="assets/img/blog-examples/blog-home-c2.jpg" alt="" class="imageLeft" width="70" height="50"><p><a href="#">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid ...</a></p></li>
        <li><img src="assets/img/blog-examples/blog-home-c3.jpg" alt="" class="imageLeft" width="70" height="50"><p><a href="#">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid ...</a></p></li>
        <li><img src="assets/img/blog-examples/blog-home-c2.jpg" alt="" class="imageLeft" width="70" height="50"><p><a href="#">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid ...</a></p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}