---
layout: page
---
{% if page.image %}
  <div class="span5 logo">
    <img src="{{ page.image.url }}" title="{{ page.image.title }}" alt="{{ page.image.alt }}" />
  </div>
{% endif %}

<div class="span10">
  <p><em>{{ page.description }}</em> {% if page.website %}
    <div class="website"><a href="{{ page.website }}">({{ page.website }})</a></div>
  {% endif %}</p>

</div>

<div id="project-description" class="span16">
  <h3>Some details on the {{ page.title }} project:</h3>
  {{ page.project_description }}
</div>

{% if page.endorsements %}
  <div id="endorsements" class="span16">
    <h3>Testimonials for {{ page.title }}:</h3>

    {% for endorsement in page.endorsements %}
      <blockquote>
        {{ endorsement.body }}
        <small>{{ endorsement.from }}, {{ endorsement.role }}</small>
      </blockquote>
    {% endfor %}
  </div>
{% endif %}