---
layout: default
title: "Welcome"
comments: false
sharing: false
footer: true
sidebar: false
keywords: "Rick Cogley, Central, Bilingual, Professional, Japan, eSolia Inc CEO, Project Management, IT Consulting"
cover: /images/Rick_Suit_01.jpg
description: Web site of Rick Cogley, a Japan-based (Eng/Jpn bilingual) experienced technologist, consultant and manager, w/ articles, bio, resources.
ogdescription: Web site of Rick Cogley with articles, bio page and resources. Rick is a Japan-based (Eng/Jpn bilingual) experienced technologist, consultant and manager, who is founder and CEO of eSolia Inc. (www.esolia.com), an IT management firm assisting multinational firms w/ Japan operations and projects.
slidertext1: Welcome to Rick Cogley Central, with articles, biographical information and other resources. 
slidertext2: Rick Cogley is a Japan-based experienced technologist, consultant and manager, who is founder and CEO of eSolia Inc. (www.esolia.com), an IT management firm.
slidertext3: Rick Cogley has led large and complex projects to success, including ERP, data center infra, compliance, business process reengineering, web development and logistics.
change_frequency: always
priority: 1.0
---

<section>
  <div class="row slider-cont">

  <!-- Slider
  ================================================== -->
    <div class="span12 cont-bs" style="position:relative">
    <!-- Slideshow -->
      <ul class="rslides rslides2">
        <li>
          <img src="/images/JRC-Slider-1170x350-001.JPG" alt="Rick Cogley Photo" />
          <div class="caption" style="background:none; padding:0;bottom:35px; left:35px;">
            <div class="span3 promo-area-slider">
              <h1>Welcome</h1>
              <p>
                {{ page.slidertext1 }}
              </p>
              <a class="btn big-large-sl btn-primary" href="/articles"> Read the Blog</a>
            </div>
          </div>
        </li>

        <li>
          <img src="/images/JRC-Slider-1170x350-002.JPG" alt="Rick Cogley Photo" />
          <div class="caption" style="background:none; padding:0;bottom:35px; left:35px;">
            <div class="span3 promo-area-slider">
              <h1>About Me</h1>
              <p>
                {{ page.slidertext2 }}
              </p>
              <a class="btn big-large-sl btn-success" href="/about/" rel="author"> Read the Bio</a>
            </div>
          </div>
        </li>

        <li>
          <img src="/images/JRC-Slider-1170x350-003.JPG" alt="Rick Cogley Photo" />
          <div class="caption" style="background:none; padding:0;bottom:35px; left:35px;">
            <div class="span3 promo-area-slider">
              <h1>Selected Projects</h1>
              <p>
                {{ page.slidertext3 }}
              </p>
              <a class="btn big-large-sl btn-danger" href="/portfolio"> View the Projects</a>
            </div>
          </div>
        </li>


      </ul>

    </div>
  </div>

  <div class="divider"></div>

<!-- Home content
================================================== -->

<!-- Main Site Highlights
================================================== -->  
  
  <div class="row-fluid">
    <div class="span12 divider-strip"><h4>Site Highlights</h4><span class="strip-block"></span></div>
  </div>

<div class="row-fluid">

  <div class="span3 block-info-h">
    <h3><a href="/about/">Bio</a></h3>
    <i class="icon-cogs" style="font-size:80px; color:#5bb75b; margin:50px auto 40px auto; display:block"></i>
    <p>Hi, and welcome to my site. I'm an experienced Japan-based IT consultant, project manager, and CEO of <a href="http://www.esolia.com" target="_blank">eSolia Inc</a>, my IT management consultancy.</p>
  </div>
  <div class="span3 block-info-h">
    <h3><a href="/articles/">Articles</a></h3>
    <i class="icon-bullhorn" style="font-size:80px; color:#0074cc; margin:50px auto 40px auto; display:block"></i>
    <p>My articles on tech, productivity, Japan, business, all listed chronologically (creative, eh?).</p>
  </div>
  <div class="span3 block-info-h">
    <h3><a href="/articles/topics/">Topics</a></h3>
    <i class="icon-pushpin" style="font-size:80px; color:#faa732; margin:50px auto 40px auto; display:block"></i>
    <p>A list of the topics under which I'm grouping my articles on this site, such as Business, Humor, Tips, Troubleshooting, or Language.</p>
  </div>
  <div class="span3 block-info-h">
    <h3><a href="/resources/">Resources</a></h3>
    <i class="icon-magic" style="font-size:80px; color:#F500A7; margin:50px auto 40px auto; display:block"></i>
    <p>A most excellent set of resource pages I assembled, like FAQs on cycling and Mac use, keyboard shortcuts, and geeky terminal command equivalents.</p>
  </div>
 
</div>

<div class="divider"></div>


  <!-- Latest and Featured Articles
================================================== -->  
  
  <div class="row-fluid">
    <div class="span6 margin-bottom-big">
      <div class="row-fluid">
        <div class="span6 divider-strip"><h4>Featured Articles</h4><span class="strip-block"></span></div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          {% for post in site.categories['Featured'] limit:2 %}
            {% assign content = post.content %}
            <div class="span6 blog-home">
              <!-- <img src="assets/img/blog-examples/blog-home.jpg" alt=""> -->
              <ul class="blog-meta meta pull-left">
                <li class="data">{% include post/date.html %}{{ time }}</li>
                <li class="post-format {% if post.posticon %}{{ post.posticon }}{% else %}default{% endif %}"><span></span></li>
              </ul>
              <h3><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h3> 
              <p>{{ content | markdownify | summary | strip_html }}</p>
              <a href="{{ root_url }}{{ post.url }}" class="btn">Read more</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="span6">
      <div class="row-fluid">
        <div class="span6 divider-strip"><h4>Latest Articles</h4><span class="strip-block"></span></div>
      </div>
      <div class="row-fluid">
        <div class="span12">
          {% for post in site.posts limit:2 %}
            {% assign content = post.content %}
            <div class="span6 blog-home">
              <!-- <img src="assets/img/blog-examples/blog-home.jpg" alt=""> -->
              <ul class="blog-meta meta pull-left">
                <li class="data">{% include post/date.html %}{{ time }}</li>
                <li class="post-format {% if post.posticon %}{{ post.posticon }}{% else %}default{% endif %}"><span></span></li>
              </ul>
              <h3><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h3> 
              <p>{{ content | markdownify | summary | strip_html }}</p>
              <a href="{{ root_url }}{{ post.url }}" class="btn">Read more</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
 
  <div class="divider"></div> 


    <!-- Selected projects
    ================================================== -->

  <div class="row">
    <div class="span12">
      <div class="divider-strip block-title"><h4>Selected portfolio</h4><span class="strip-block"></span></div>
      <div class="row">
        {% for project in page.featured_projects %}
          <div class="span3 center-content">
            <img src="{{ project.image.url }}" alt="">
            <p><a href="/portfolio/{{ project.filename }}">{{ project.title }}</a></p> 
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="divider"></div>
</section>
<script type="text/javascript">
$(function(){
  $(".rslides2").responsiveSlides({
    //auto: false,
    nav: true,
    pause: true,
    pager: true,
    speed: 2500,
    timeout: 7000,
    before: function () {
      $(".rslides2").parents("#slider-color").removeClass();
      $(".rslides2").parents("#slider-color").addClass( $('.rslides2 li.rslides1_on').attr("id") );
      $(".rslides2").parent().find('.caption').animate(
        { bottom: '-550px',opacity: 1}, {easing: 'swing', duration: 1500});
      $(".rslides2").parent().find('.caption').animate(
        { bottom: '35px',opacity: 1}, {easing: 'swing', duration: 1500});
    }
  });
})
</script>