{% unless page.footer == false %}
  <footer class="footer">
  	<div class="container">
      <div class="row">
      
        <div class="span4">
          <h3>About</h3>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
          <h3>Connect With Us</h3>
          <!-- social begin here -->
          <ul class="socicon left">
            <li style="opacity: 0.5;"> <a href="#" class="share-icon"></a> </li>
            <li style="opacity: 0.5;"> <a href="#" class="google"></a> </li>
            <li style="opacity: 0.5;"> <a href="#" class="facebook"></a> </li>
            <li style="opacity: 0.5;"> <a href="#" class="twitter"></a> </li>
            <li style="opacity: 0.5;"> <a href="#" class="flickr"></a> </li>
            <li style="opacity: 0.5;"> <a href="#" class="dribbble"></a> </li>
            <li style="opacity: 0.5;"> <a href="#" class="linkedin"></a> </li>
            <li class="last" style="opacity: 0.5;"> <a href="#" class="vimeo"></a> </li>
          </ul>   
        </div>
      
        <!-- tweets begin here -->
        <div class="span4">
          {% if site.twitter_user %}
          	<h3>Latest Tweets</h3>

          	<div class="tweets">
              <p style="display: none;">
                Loading Tweets...
              </p>
           	  <ul id="tweets" style="display: block;"></ul>
          	</div>

          	<script type="text/javascript">
			    $.domReady(function(){
			      getTwitterFeed("{{site.twitter_user}}", {{site.twitter_tweet_count}}, {{site.twitter_show_replies}});
			    });
		  	</script>
		  	<script src="{{ root_url }}/javascripts/twitter.js" type="text/javascript"> </script>
		  	{% if site.twitter_follow_button %}
		  	  <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
		  	{% else %}
		  	  <p>Follow <a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a></p>
		  	{% endif %}
		  {% endif %}
        </div>
      
        <div class="span4">
          <h3>From Flickr</h3>
          <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=8&amp;source=user&amp;user=81796435@N00&amp;layout=x&amp;display=random&amp;size=s"></script>
        </div>
      
        <div class="span12 copy">
          Copyright © {{ site.time | date: "%Y" }} - {{ site.author }}
        </div>

      </div>
    </div>

    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}

  </footer>
{% endunless %}