<div class="container">
    <div class="row">
      <div class="span5"> 
      	<h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
      	{% if site.subtitle %}
	      <h2>{{ site.subtitle }}</h2>
	    {% endif %}
      </div>
      <div class="span7" id="main-menu">
       <nav itemprop="breadcrumb">
			<ul class="right main-navigation">
				<li><a href="{{ root_url }}/"> Home </a></li>
				<li><a href="{{ root_url }}/about/"> About </a></li>
				<li>
					<a href="{{ root_url }}/articles/"> Articles </a>
					<span class="indicator"></span>
					<ul>
	                    <li> <a href="{{ root_url }}/articles/topics/"> Topics </a> </li>
	                    <li> <a href="{{ root_url }}/tags/"> Tags </a> </li>
	                    <li> <a href="{{ root_url }}/blog/archives/"> Archives </a> </li>
					</ul>
				</li>
				<li><a href="{{ root_url }}/photos/"> Photos </a></li>
				<li><a href="{{ root_url }}/portfolio/"> Portfolio </a></li>
				<li><a href="{{ root_url }}/resources/"> Resources </a></li>
			</ul>

            <select class="responsive" id="alt-menu-select">
				<option value="" selected="">MENU</option>
				<option value="{{ root_url }}/">  Home </option>
				<option value="{{ root_url }}/about/">  About </option>
				<option value="{{ root_url }}/articles/">  Articles</option>
				<option value="{{ root_url }}/articles/topics/">--  Topics</option>
				<option value="{{ root_url }}/tags/">--  Tags</option>
				<option value="{{ root_url }}/blog/archives/">  Archives</option>
				<option value="{{ root_url }}/photos/">  Photos</option>
				<option value="{{ root_url }}/portfolio/">  Portfolio</option>
				<option value="{{ root_url }}/resources/">  Resources</option>
            </select>
        </nav>
      </div>
    </div>
  </div>