{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

{% if page.posticon %}
  {% assign posticon = page.posticon %}
{% elsif post.posticon %}
  {% assign posticon = post.posticon %}
{% endif %}

<div class="span9">
  <div class="row">
    <div class="span1 post-info">
      {% unless page.meta == false %}
        <ul class="blog-meta meta pull-left full-width">
          <li class="data">{% include post/date.html %}{{ time }}</li>
          <li class="post-format {% if posticon %}{{ posticon }}{% else %}default{% endif %}"><span></span></li>
          <li class="small-text no-print"><a href="{{site.jrcbiopath}}">{{ author }}</a></li>
          <hr class="no-print">
          <li class="small-text no-print">
            {% if post.categories %}
              {% assign post_categs = post.categories %}
            {% else %}
              {% assign post_categs = page.categories %}
            {% endif %}

            {% for cat in post_categs %}
              <a href="/articles/topics/{{ cat | downcase }}">{{ cat }}</a>{% unless forloop.last %},{% endunless%} 
            {% endfor %}
          </li>
          <hr class="no-print">
          <li class="discuss-info no-print">
            {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
              <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
            {% endif %}
          </li>
        </ul>
      {% endunless %}
    </div>
    <div class="span8 a-post">
      {% if page.no_header %} {% else %} {% endif %}

        {% if index %}
          <h1 class="post-title"><a class="post-title-link" href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.post_title | titlecase }}{% else %}{{ post.post_title }}{% endif %}</a></h1>
        {% else %}
          <h1 class="post-title">{% if site.titlecase %}{{ page.post_title | titlecase }}{% else %}{{ page.post_title }}{% endif %}</h1>
        {% endif %}


      {% if index %}
        <div class="entry-content">{{ content | excerpt }}</div>
        {% capture excerpted %}{{ content | has_excerpt }}{% endcapture %}
        {% if excerpted == 'true' %}
          <a rel="full-article" class="btn" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
        {% endif %}
      {% else %}
        <div class="entry-content">{{ content }}</div>
      {% endif %}
      {% if page.googleplus_post %}
        <h3>Comments?</h3><p><em>Join the discussion</em> at my <a href="{{ page.googleplus_post }}" target="_blank" title="Link to Google Plus post for discussion of {{ page.description }}">Google+ post.</a></p>"
      {% endif %}
    </div>
  </div>
  <div class="divider-post"></div>
</div>