<div class="span9">
  <div class="row">
    <div class="span1 post-info">
      {% unless page.meta == false %}
        <ul class="blog-meta meta pull-left small-text">
          <li class="data">{% include post/date.html %}{{ time }}</li>
          <li class="post-format {% if post.posticon %}{{ post.posticon }}{% else %}default{% endif %}"><span></span></li>
          <li>
            {% if site.disqus_short_name and page.comments != false and post.comments != false and site.disqus_show_comment_count == true %}
              <a href="{% if index %}{{ root_url }}{{ post.url }}{% endif %}#disqus_thread">Comments</a>
            {% endif %}
          </li>
          <hr>
        </ul>
      {% endunless %}
    </div>
    <div class="span8">
      {% if page.no_header %} {% else %} {% endif %}

      {% if index %}
        <h1 class="post-title"><a href="{{ root_url }}{{ post.url }}">{% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}</a></h1>
      {% else %}
        <h1 class="post-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
      {% endif %}

      {% if index %}
        <div class="entry-content">{{ content | markdownify | excerpt }}</div>
        {% capture excerpted %}{{ content | markdownify | has_excerpt }}{% endcapture %}
        {% if excerpted == 'true' %}
          <a rel="full-article" class="btn" href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>
        {% endif %}
      {% else %}
        <div class="entry-content">{{ content | markdownify }}</div>
      {% endif %}
    </div>
  </div>
  <div class="divider-post"></div>
</div>
