// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
ol,ul{  margin-left: 1.3em;}

ul.tags_cloud li{ display: inline-block; }

/*body > header h1 a, body > header h1 a:visited, body > header h1 a{
   font-family: "chaparral-pro", serif;
}*/

aside.sidebar li{
   font-family: "freight-text-pro-n3", "freight-text-pro", sans-serif;
}

ul#projects{
	list-style: none;
	li{
		display: inline-block;
		a{ white-space: inherit; }
	}
}

article {
	font-family: $serif;
	div{ margin-bottom: 1em; }
}

#searchbar{
	height: 27px;
	padding: 8px 10px;
	>ul.subscription{ margin: 3px 30px 3px 10px; }
	> ul.subscription, form { float: right; }
	a[rel="subscribe-rss"], a[rel="subscribe-rss"]::after {
		-webkit-mask-image: url('/images/rss.png?1357428215');
		-moz-mask-image: url('/images/rss.png?1357428215');
		-ms-mask-image: url('/images/rss.png?1357428215');
		-o-mask-image: url('/images/rss.png?1357428215');
		mask-image: url('/images/rss.png?1357428215');
		-webkit-mask-repeat: no-repeat;
		-moz-mask-repeat: no-repeat;
		-ms-mask-repeat: no-repeat;
		-o-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		width: 22px;
		height: 22px;
	}
	a[rel="subscribe-rss"] {
		position: relative;
		top: 0px;
		text-indent: -999999em;
		background-color: #DEDEDE;
		border: 0;
		padding: 0;
		float: right;
		&:hover { background-color: #9E9E9E;}
	}
}

.center-content{ text-align: center; }

#blog-archives{
	h2{ line-height: 70px; margin-top: 25px; }
	article{ margin-bottom: 20px; }
}

.entry-content{
	img{ 
		-webkit-border-radius: 0.3em;
		-moz-border-radius: 0.3em;
		-ms-border-radius: 0.3em;
		-o-border-radius: 0.3em;
		border-radius: 0.3em;
		-webkit-box-shadow: rgba(0, 0, 0, 0.35) 0 1px 4px;
		-moz-box-shadow: rgba(0,0,0,0.35) 0 1px 4px;
		box-shadow: rgba(0, 0, 0, 0.35) 0 1px 4px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		border: white 0.9em solid;
		margin-left: 10px;
		margin-bottom: 10px;
	}
}

a.active{ font-weight: bold; }

.sharing{ padding-top: 1em; margin-bottom: 1em; }

section{ font-family: $serif; }


#projects {
	.project{
		padding-top: 15px;
		background-color: #EEE;
		margin-bottom: 20px;
		min-height: 305px;
		text-align: center;
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		&:hover{ background-color: #E5E5E5; }
		> a{
			background-color: #EEE;
			margin-bottom: 20px;
			min-height: 305px;
			text-align: center;
			-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
			-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
			box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
		}
	}
}

//wrapper on a project details page
.project-details{
	> div{ margin-bottom: 15px; }
}

.footer{
	h3{ line-height: 2em; }
}